<?xml version="1.0"?>
<!--
/**
 * Secomm MoMo frontend routes
 *
 * @author    Secomm Teams
 * @copyright Copyright (c) 2024 Secomm (https://www.secomm.vn)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="momo" frontName="momo">
            <module name="Secomm_MoMo"/>
        </route>
    </router>
</config>
