<?xml version="1.0"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Secomm. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    Secomm Team
 * *  @project   Secomm Integration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Secomm\IntegrationBase\Model\Service\Command\CommandPoolInterface" type="Secomm\IntegrationBase\Model\Service\Command\CommandPool"/>
    <preference for="Secomm\IntegrationBase\Model\Service\Validator\ResultInterface" type="Secomm\IntegrationBase\Model\Service\Validator\Result"/>
    <type name="Secomm\IntegrationBase\Model\Service\Http\Client\Zend">
        <arguments>
            <argument name="converter" xsi:type="object">Secomm\IntegrationBase\Model\Service\Http\Converter\JsonToArray</argument>
        </arguments>
    </type>
    <virtualType name="Secomm\IntegrationBase\Model\Logger\VirtualDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/bf_integration.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Secomm\IntegrationBase\Model\Logger\VirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Secomm\IntegrationBase\Model\Logger\VirtualDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Secomm\IntegrationBase\Model\Logger\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">Secomm\IntegrationBase\Model\Logger\VirtualLogger</argument>
        </arguments>
    </type>
</config>