@layer base {
    :where(form label) {
        display: block;
        margin-block-end: 6px;
        color: var(--ds-text-gray-quaternary);
        font-size: var(--ds-type-label-m-font-size);
        font-weight: var(--ds-type-label-m-font-weight);
        line-height: var(--ds-type-label-m-line-height);
    }

    :where(form legend) {
        @apply text-xl mb-3;

        & + br {
            @apply hidden;
        }
    }

    :where(fieldset ~ fieldset) {
        @apply mt-8;
    }
}
