<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Mirasvit_Seo::seo">
                        <resource id="Mirasvit_SeoContent::seo_content_template" title="Templates" sortOrder="100"/>
                        <resource id="Mirasvit_SeoContent::seo_content_rewrite_node" title="SEO rewrites" sortOrder="200">
                            <resource id="Mirasvit_SeoContent::seo_content_rewrite" title="Management" sortOrder="10"/>
                            <resource id="Mirasvit_SeoContent::seo_content_rewrite_import_export" title="Import/Export" sortOrder="20"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mirasvit_SeoContent::config_seo_content" title="Mirasvit SEO Templates and rewrites" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
