 <?xml version="1.0"?>
<!--
/*
 * @author Secomm Team
 * @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <secomm_paymentcore>
            <general>
                <enabled>0</enabled>
                <managed_methods></managed_methods>
                <default_expiry_minutes>15</default_expiry_minutes>
                <expiry_overrides></expiry_overrides>
                <continue_disabled></continue_disabled>
            </general>
            <cron>
                <batch_size>50</batch_size>
                <force_close_days>7</force_close_days>
            </cron>
        </secomm_paymentcore>
    </default>
</config>
