<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Mirasvit_Seo::seo">
                        <resource id="Mirasvit_SeoSitemap::seositemap" title="SEO Sitemap" sortOrder="900">
                            <resource id="Mirasvit_SeoSitemap::seositemap_provider" title="Providers" sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mirasvit_SeoSitemap::config_seositemap" title="Mirasvit Extended sitemap" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
