<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_commit_after">
        <observer name="seocomm_aic_product_save"
                  instance="Secomm\AiCommerce\Observer\ProductInvalidation"/>
    </event>
    <event name="catalog_product_delete_commit_after">
        <observer name="seocomm_aic_product_delete"
                  instance="Secomm\AiCommerce\Observer\ProductInvalidation"/>
    </event>
    <event name="catalog_category_save_commit_after">
        <observer name="seocomm_aic_category_save"
                  instance="Secomm\AiCommerce\Observer\CategoryInvalidation"/>
    </event>
    <event name="catalog_category_delete_commit_after">
        <observer name="seocomm_aic_category_delete"
                  instance="Secomm\AiCommerce\Observer\CategoryInvalidation"/>
    </event>
    <event name="admin_system_config_changed_section_seocomm_ai_commerce">
        <observer name="seocomm_aic_config"
                  instance="Secomm\AiCommerce\Observer\ConfigInvalidation"/>
    </event>
</config>
