<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Mirasvit_Seo::seo">
                        <resource id="Mirasvit_SeoAudit::seoaudit_job" title="SEO audit" sortOrder="700">
                            <resource id="Mirasvit_SeoAudit::seoaudit_url" title="URLs" sortOrder="10"/>
                            <resource id="Mirasvit_SeoAudit::seoaudit_check_result" title="Check Results" sortOrder="20"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mirasvit_SeoAudit::config_seoaudit" title="Mirasvit SEO audit" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
