.mgzpagebuilder-template-edit {
	.mgz-mytemplaes,
	.mgz-profile-settings {
		display: none;
	}
}

.mb-buttons-wrapper {
	display: flex;
    gap: 3px;
    margin-bottom: 6px;
	justify-content: end;

	.mgz-builder-action-btn,
	.mgz-builder-action-btn:focus {
		margin-bottom: 0;
	}
}