<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout">
        <observer name="magefan_googletagmanagerextra_observer_frontend_controller_action_predispat_chcheckout" instance="Magefan\GoogleTagManagerExtra\Observer\Checkout\ActionPredispatch"/>
    </event>
    <event name="controller_action_predispatch_firecheckout">
        <observer name="magefan_googletagmanagerextra_observer_frontend_controller_action_predispat_firecheckout" instance="Magefan\GoogleTagManagerExtra\Observer\Checkout\ActionPredispatch"/>
    </event>
</config>