<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <giaohangnhanh_setting>
            <general>
                <api_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <payment_type>2</payment_type>
                <calculate_fee_url>v2/shipping-order/fee</calculate_fee_url>
                <sync_order_url>v2/shipping-order/create</sync_order_url>
                <get_districts_url>master-data/district</get_districts_url>
                <get_provinces_url>master-data/province</get_provinces_url>
                <note_code>CHOXEMHANGKHONGTHU</note_code>
                <get_services_url>v2/shipping-order/available-services</get_services_url>
                <get_order_infor_url>v2/shipping-order/detail</get_order_infor_url>
                <cancel_order_url>v2/switch-status/cancel</cancel_order_url>
                <debug>1</debug>
                <sandbox_flag>1</sandbox_flag>
                <default_height>10</default_height>
                <default_width>10</default_width>
                <default_length>10</default_length>
                <debugReplaceKeys>token</debugReplaceKeys>
                <giaohangnhanh_url>https://online-gateway.ghn.vn/shiip/public-api</giaohangnhanh_url>
                <giaohangnhanh_sandbox_url>https://dev-online-gateway.ghn.vn/shiip/public-api</giaohangnhanh_sandbox_url>
                <shop_id></shop_id>
                <get_wards_url>master-data/ward</get_wards_url>
                <is_develop_mode>1</is_develop_mode>
                <sync_mode>async</sync_mode>
                <auto_sync_on_place_order>0</auto_sync_on_place_order>
                <enable_admin_manual_sync_button>1</enable_admin_manual_sync_button>
                <auto_sync_on_shipment_create>0</auto_sync_on_shipment_create>
            </general>
        </giaohangnhanh_setting>
        <carriers>
            <giaohangnhanh_express>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Secomm\GiaoHangNhanh\Model\Carrier\GHN\Express</model>
                <name>E-commerce delivery(Express)</name>
                <title>E-commerce delivery</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </giaohangnhanh_express>
            <giaohangnhanh_standard>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Secomm\GiaoHangNhanh\Model\Carrier\GHN\Standard</model>
                <name>Traditional delivery(Standard)</name>
                <title>Traditional delivery</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </giaohangnhanh_standard>
            <ghn>
                <!-- Advanced settings defaults (BUG-M5NZFO): weight in grams, dims in cm.
                     maximum_length = 150: GHN create-order API rejects length > 150
                     ("Kích thước (dài) vượt quá mức cho phép: 150") even though the fee API
                     accepts up to 200. Standard defaults aligned with its MAX_* consts
                     (were 10x typos: 20000cm / 5000kg / 50kg item weight over a 20kg package). -->
                <advanced_settings>
                    <giaohangnhanh_express>
                        <maximum_height>200</maximum_height>
                        <maximum_width>200</maximum_width>
                        <maximum_length>150</maximum_length>
                        <maximum_weight>50000</maximum_weight>
                        <maximum_converted_mass_order>200000</maximum_converted_mass_order>
                    </giaohangnhanh_express>
                    <giaohangnhanh_standard>
                        <maximum_height>200</maximum_height>
                        <maximum_width>200</maximum_width>
                        <maximum_length>150</maximum_length>
                        <maximum_weight>20000</maximum_weight>
                        <maximum_converted_mass_order>1600000</maximum_converted_mass_order>
                        <maximum_weight_item>20000</maximum_weight_item>
                        <maximum_length_item>200</maximum_length_item>
                        <maximum_width_item>200</maximum_width_item>
                        <maximum_height_item>200</maximum_height_item>
                        <maximum_converted_mass_item>1600000</maximum_converted_mass_item>
                    </giaohangnhanh_standard>
                </advanced_settings>
            </ghn>
        </carriers>
    </default>
</config>
