<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="sync_order_after_placing" instance="Secomm\GiaoHangNhanh\Observer\SalesOrderPlaceAfterObserver"/>
    </event>
    <event name="order_cancel_after">
        <observer name="cancel_giaohangnhanh_shipment_for_order" instance="Secomm\GiaoHangNhanh\Observer\SalesOrderCancelAfterObserver"/>
    </event>
</config>
