<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <vnpay>
                <active>0</active>
                <model>Secomm\VNPAY\Model\Vnpay</model>
                <order_status>pending</order_status>
                <title>VNPAY</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <version>2.1.0</version>
                <api_url>https://sandbox.vnpayment.vn/merchant_webapi/api/transaction</api_url>
                <min_order_total>5000</min_order_total>
            </vnpay>

        </payment>
    </default>
</config>
