<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fulfillment_core" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Fulfillment Core</label>
            <tab>secomm</tab>
            <resource>Secomm_FulfillmentCore::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable outbound order export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When disabled, observers and retry cron skip all exporters. Default: Yes.</comment>
                </field>
            </group>
            <group id="export" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Export retry</label>
                <field id="max_attempts" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max export attempts</label>
                    <comment>Pending/failed mapping rows are retried until this count. Default: 5.</comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
