<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Secomm_GhnAddressMapper">
        <sequence>
            <module name="Secomm_Base"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Ui"/>
            <module name="Magento_Directory"/>
            <module name="Secomm_AddressDropdown"/>
            <module name="Secomm_VietNamAddress"/>
            <module name="Secomm_GiaoHangNhanh"/>
        </sequence>
    </module>
</config>
