<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Secomm_Ahamove::ahamove_settings" title="Ahamove Settings" module="Secomm_Ahamove" sortOrder="50"
             resource="Secomm_Ahamove::ahamove_settings" parent="Magento_Backend::stores"/>
    </menu>
</config>
