<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="ahamove" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Ahamove</label>
                <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <attribute type="expanded">1</attribute>
                    <field id="mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Mode</label>
                        <source_model>Secomm\Ahamove\Model\Config\Source\Mode</source_model>
                        <config_path>ahamove/general/mode</config_path>
                    </field>
                    <field id="staging_token" translate="label" type="text" sortOrder="10" showInDefault="10" showInWebsite="1" showInStore="1">
                        <label>Staging Token</label>
                        <frontend_model>Secomm\Ahamove\Block\Adminhtml\System\Config\DisableField</frontend_model>
                        <config_path>ahamove/general/staging_token</config_path>
                        <depends>
                            <field id="carriers/ahamove/general/mode">sandbox</field>
                        </depends>
                    </field>
                    <field id="staging_token_refresh" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Staging Token Refresh</label>
                        <frontend_model>Secomm\Ahamove\Block\Adminhtml\System\Config\DisableField</frontend_model>
                        <config_path>ahamove/general/staging_token_refresh</config_path>
                        <depends>
                            <field id="carriers/ahamove/general/mode">sandbox</field>
                        </depends>
                    </field>
                    <field id="production_token" translate="label" type="text" sortOrder="10" showInDefault="10" showInWebsite="1" showInStore="1">
                        <label>Production Token</label>
                        <frontend_model>Secomm\Ahamove\Block\Adminhtml\System\Config\DisableField</frontend_model>
                        <config_path>ahamove/general/production_token</config_path>
                        <depends>
                            <field id="carriers/ahamove/general/mode">production</field>
                        </depends>
                    </field>
                    <field id="production_token_refresh" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Production Token Refresh</label>
                        <frontend_model>Secomm\Ahamove\Block\Adminhtml\System\Config\DisableField</frontend_model>
                        <config_path>ahamove/general/production_token_refresh</config_path>
                        <depends>
                            <field id="carriers/ahamove/general/mode">production</field>
                        </depends>
                    </field>
                    <field id="refresh_button" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Secomm\Ahamove\Block\Adminhtml\System\Config\RefreshButton</frontend_model>
                    </field>
                    <field id="staging_api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Staging Api Key</label>
                        <comment>Set Staging API Key to access Ahamove.</comment>
                        <config_path>ahamove/general/staging_api_key</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="carriers/ahamove/general/mode">sandbox</field>
                        </depends>
                    </field>
                    <field id="staging_phone_number" translate="label" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Staging Phone Number</label>
                        <config_path>ahamove/general/staging_phone_number</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="carriers/ahamove/general/mode">sandbox</field>
                        </depends>
                    </field>
                    <field id="production_api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Production Api Key</label>
                        <comment>Set Production API Key to access Ahamove.</comment>
                        <config_path>ahamove/general/production_api_key</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="carriers/ahamove/general/mode">production</field>
                        </depends>
                    </field>
                    <field id="production_phone_number" translate="label" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Production Phone Number</label>
                        <config_path>ahamove/general/production_phone_number</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="carriers/ahamove/general/mode">production</field>
                        </depends>
                    </field>
                    <field id="payment_type" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Payment Type</label>
                        <source_model>Secomm\Ahamove\Model\Config\Source\PaymentType</source_model>
                        <config_path>ahamove/general/payment_type</config_path>
                    </field>
                    <field id="city_id_service" translate="label" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>City of Service</label>
                        <source_model>Secomm\Ahamove\Model\Config\Source\ServiceCityIdConfig</source_model>
                        <config_path>ahamove/general/city_id_service</config_path>
                        <comment>Select City for Service will be used to when shipping</comment>
                    </field>
                    <field id="refresh_city_button" translate="label" type="button" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Secomm\Ahamove\Block\Adminhtml\System\Config\RefreshCityButton</frontend_model>
                    </field>
                    <field id="method" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Select Ahamove Shipping Method</label>
                        <source_model>Secomm\Ahamove\Model\Config\Source\AhamoveMethod</source_model>
                        <config_path>ahamove/general/method</config_path>
                    </field>
                    <field id="percentage_difference" translate="label" type="text" sortOrder="73" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Percentage Difference</label>
                        <config_path>ahamove/general/percentage_difference</config_path>
                        <validate>required-entry validate-number validate-number-type-number validate-digits</validate>
                        <comment>Percentage difference between the volume(m3) calculated by Ahamove and the volume(m3) calculated by the store (%)</comment>
                    </field>
                    <!--                    <field id="quantity_applies_rate_difference" translate="label" type="text" sortOrder="73" showInDefault="1" showInWebsite="1" showInStore="0">-->
                    <!--                        <label>Quantity Applies Rate Difference</label>-->
                    <!--                        <config_path>ahamove/general/quantity_applies_rate_difference</config_path>-->
                    <!--                        <validate>required-entry validate-number validate-number-type-number validate-digits</validate>-->
                    <!--                        <comment>Quantity applies rate difference(>)</comment>-->
                    <!--                    </field>-->
                    <field id="notify_shipment" translate="label" type="select" sortOrder="73" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Send Email Shipment</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>ahamove/general/notify_shipment</config_path>
                        <comment>Send email shipment for customer</comment>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>ahamove/general/debug</config_path>
                    </field>
                    <field id="conventional_number" translate="label" type="text" sortOrder="73" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Calculation of Road Transportation Volume</label>
                        <config_path>ahamove/general/conventional_number</config_path>
                        <validate>required-entry validate-number validate-number-type-number validate-digits</validate>
                        <comment>The conventional number to calculate the package volume</comment>
                    </field>
                    <field id="email_notify_webhook" translate="label comment" type="select" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Email Template For Notify Webhook</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    </field>
                    <field id="email_from" translate="label" type="select" sortOrder="239" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Send From</label>
                        <source_model>Secomm\Ahamove\Model\Config\Source\Email\Identity</source_model>
                        <config_path>ahamove/general/email_from</config_path>
                    </field>
                </group>
                <group id="advanced_settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Settings Ahamove Shipping Service</label>
                    <group id="bike" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Bike</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="name" translate="label" type="text" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="0">
                            <label>Method Name</label>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="0">
                            <label>Title</label>
                        </field>
                        <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="1">
                            <label>Ship to Applicable Countries</label>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="0" showInWebsite="0" showInStore="0">
                            <label>Ship to Specific Countries</label>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>ahamove/service_bike/specificcountry</config_path>
                        </field>
                        <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="0" showInWebsite="0" showInStore="0">
                            <label>Show Method if Not Applicable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <config_path>ahamove/service_bike/showmethod</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="0" showInWebsite="0" showInStore="0">
                            <label>Sort Order</label>
                            <config_path>ahamove/service_bike/sort_order</config_path>
                        </field>
                        <!--  Operation day multiselect  -->
                        <field id="operation_day" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Operation Day</label>
                            <source_model>Secomm\Ahamove\Model\Config\Source\OperationDayOptions</source_model>
                            <config_path>ahamove/service_bike/operation_day</config_path>
                        </field>
                        <field id="hours_of_operation_from" translate="label comment" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Hours of Operation From</label>
                            <config_path>ahamove/service_bike/hours_of_operation_from</config_path>
                        </field>
                        <field id="hours_of_operation_to" translate="label comment" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Hours of Operation To</label>
                            <config_path>ahamove/service_bike/hours_of_operation_to</config_path>
                        </field>
                        <field id="maximum_weight" translate="label comment" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Weight</label>
                            <comment>Enter weight in grams</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_bike/maximum_weight</config_path>
                        </field>
                        <field id="maximum_length" translate="label comment" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Length</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_bike/maximum_length</config_path>
                        </field>
                        <field id="maximum_width" translate="label comment" type="text" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Width</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_bike/maximum_width</config_path>
                        </field>
                        <field id="maximum_height" translate="label comment" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Height</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_bike/maximum_height</config_path>
                        </field>
                    </group>
                    <group id="van" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Van</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>ahamove/service_van/active</config_path>
                        </field>
                        <field id="name" translate="label" type="text" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Method Name</label>
                            <config_path>ahamove/service_van/name</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Title</label>
                            <config_path>ahamove/service_van/title</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>ahamove/service_van/sort_order</config_path>
                        </field>
                        <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Show Method if Not Applicable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <config_path>ahamove/service_van/showmethod</config_path>
                        </field>
                        <field id="specificerrmsg" translate="label" type="textarea" sortOrder="95" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Displayed Error Message</label>
                            <config_path>ahamove/service_van/specificerrmsg</config_path>
                        </field>
                        <field id="operation_day" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Operation Day</label>
                            <source_model>Secomm\Ahamove\Model\Config\Source\OperationDayOptions</source_model>
                            <config_path>ahamove/service_van/operation_day</config_path>
                        </field>
                        <field id="hours_of_operation_from" translate="label comment" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Hours of Operation From</label>
                            <config_path>ahamove/service_van/hours_of_operation_from</config_path>
                        </field>
                        <field id="hours_of_operation_to" translate="label comment" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Hours of Operation To</label>
                            <config_path>ahamove/service_van/hours_of_operation_to</config_path>
                        </field>
                        <field id="maximum_weight" translate="label comment" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Weight</label>
                            <comment>Enter weight in grams</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_van/maximum_weight</config_path>
                        </field>
                        <field id="maximum_length" translate="label comment" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Length</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_van/maximum_length</config_path>
                        </field>
                        <field id="maximum_width" translate="label comment" type="text" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Width</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_van/maximum_width</config_path>
                        </field>
                        <field id="maximum_height" translate="label comment" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Height</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_van/maximum_height</config_path>
                        </field>
                    </group>
                    <group id="two_hours" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>2H</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>ahamove/service_two_hours/active</config_path>
                        </field>
                        <field id="name" translate="label" type="text" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Method Name</label>
                            <config_path>ahamove/service_two_hours/name</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Title</label>
                            <config_path>ahamove/service_two_hours/title</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Sort Order</label>
                            <config_path>ahamove/service_two_hours/sort_order</config_path>
                        </field>
                        <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Show Method if Not Applicable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <config_path>ahamove/service_two_hours/showmethod</config_path>
                        </field>
                        <field id="specificerrmsg" translate="label" type="textarea" sortOrder="95" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Displayed Error Message</label>
                            <config_path>ahamove/service_two_hours/specificerrmsg</config_path>
                        </field>
                        <field id="operation_day" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Operation Day</label>
                            <source_model>Secomm\Ahamove\Model\Config\Source\OperationDayOptions</source_model>
                            <config_path>ahamove/service_two_hours/operation_day</config_path>
                        </field>
                        <field id="hours_of_operation_from" translate="label comment" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Hours of Operation From</label>
                            <config_path>ahamove/service_two_hours/hours_of_operation_from</config_path>
                        </field>
                        <field id="hours_of_operation_to" translate="label comment" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Hours of Operation To</label>
                            <config_path>ahamove/service_two_hours/hours_of_operation_to</config_path>
                        </field>
                        <field id="maximum_weight" translate="label comment" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Weight</label>
                            <comment>Enter weight in grams</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_two_hours/maximum_weight</config_path>
                        </field>
                        <field id="maximum_length" translate="label comment" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Length</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_two_hours/maximum_length</config_path>
                        </field>
                        <field id="maximum_width" translate="label comment" type="text" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Width</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_two_hours/maximum_width</config_path>
                        </field>
                        <field id="maximum_height" translate="label comment" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum Height</label>
                            <comment>Enter width in centimeters</comment>
                            <validate>validate-number validate-number-type-number validate-digits</validate>
                            <config_path>ahamove/service_two_hours/maximum_height</config_path>
                        </field>
                    </group>
                </group>
                <group id="ahamove_shipping_method" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ahamove Shipping Method</label>
                    <group id="ahamove_express" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Express Method</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>carriers/ahamove_express/active</config_path>
                        </field>
                        <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Method Name</label>
                            <config_path>carriers/ahamove_express/name</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <config_path>carriers/ahamove_express/sort_order</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Title</label>
                            <config_path>carriers/ahamove_express/title</config_path>
                        </field>
                        <field id="condition_name" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" canRestore="1">
                            <label>Condition</label>
                            <source_model>Secomm\Ahamove\Model\Config\Source\ShippingMethod\Express</source_model>
                            <config_path>carriers/ahamove_express/condition_name</config_path>
                            <depends>
                                <field id="carriers/ahamove_express/method">table_rate</field>
                            </depends>
                        </field>
                        <field id="export" translate="label" type="Secomm\Ahamove\Block\Adminhtml\Carrier\Express\Form\Field\Export" sortOrder="5" showInWebsite="1">
                            <label>Export</label>
                            <depends>
                                <field id="carriers/ahamove_express/method">table_rate</field>
                            </depends>
                        </field>
                        <field id="import" translate="label" type="Secomm\Ahamove\Block\Adminhtml\Carrier\Express\Form\Field\Import" sortOrder="6" showInWebsite="1">
                            <label>Import</label>
                            <backend_model>Secomm\Ahamove\Model\Config\Backend\ShippingMethod\Express</backend_model>
                            <depends>
                                <field id="carriers/ahamove_express/method">table_rate</field>
                            </depends>
                        </field>
                        <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Ship to Applicable Countries</label>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>carriers/ahamove_express/sallowspecific</config_path>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Ship to Specific Countries</label>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>carriers/ahamove_express/specificcountry</config_path>
                        </field>
                        <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Show Method if Not Applicable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <config_path>carriers/ahamove_express/showmethod</config_path>
                        </field>
                        <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Displayed Error Message</label>
                            <config_path>carriers/ahamove_express/specificerrmsg</config_path>
                        </field>
                    </group>
                    <group id="ahamove_standard" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Standard Method</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>carriers/ahamove_standard/active</config_path>
                        </field>
                        <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Method Name</label>
                            <config_path>carriers/ahamove_standard/name</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <config_path>carriers/ahamove_standard/sort_order</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Title</label>
                            <config_path>carriers/ahamove_standard/title</config_path>
                        </field>
                        <field id="condition_name" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" canRestore="1">
                            <label>Condition</label>
                            <source_model>Secomm\Ahamove\Model\Config\Source\ShippingMethod\Standard</source_model>
                            <config_path>carriers/ahamove_standard/condition_name</config_path>
                            <depends>
                                <field id="carriers/ahamove_standard/method">table_rate</field>
                            </depends>
                        </field>
                        <field id="export" translate="label" type="Secomm\Ahamove\Block\Adminhtml\Carrier\Standard\Form\Field\Export" sortOrder="5" showInWebsite="1">
                            <label>Export</label>
                            <depends>
                                <field id="carriers/ahamove_standard/method">table_rate</field>
                            </depends>
                        </field>
                        <field id="import" translate="label" type="Secomm\Ahamove\Block\Adminhtml\Carrier\Standard\Form\Field\Import" sortOrder="6" showInWebsite="1">
                            <label>Import</label>
                            <backend_model>Secomm\Ahamove\Model\Config\Backend\ShippingMethod\Standard</backend_model>
                            <depends>
                                <field id="carriers/ahamove_standard/method">table_rate</field>
                            </depends>
                        </field>
                        <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Ship to Applicable Countries</label>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>carriers/ahamove_standard/sallowspecific</config_path>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Ship to Specific Countries</label>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>carriers/ahamove_standard/specificcountry</config_path>
                        </field>
                        <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Show Method if Not Applicable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <config_path>carriers/ahamove_standard/showmethod</config_path>
                        </field>
                        <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Displayed Error Message</label>
                            <config_path>carriers/ahamove_standard/specificerrmsg</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
