<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Secomm\FulfillmentCore\Model\Export\ExporterPool">
        <arguments>
            <argument name="exporters" xsi:type="array">
                <item name="pancake" xsi:type="object">Secomm\Pancake\Model\Order\PancakeOrderExporter</item>
            </argument>
        </arguments>
    </type>
    <type name="Secomm\FulfillmentCore\Model\Inbound\MapperPool">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="pancake" xsi:type="object">Secomm\Pancake\Model\Mapping\PancakeStatusMapper</item>
            </argument>
        </arguments>
    </type>
</config>
