<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="secomm_theme" translate="label" sortOrder="20"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Theme</label>
            <tab>secomm</tab>
            <resource>Secomm_ThemeHelper::config</resource>
            <group id="header" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Header</label>
                <field id="sticky_enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Sticky Header</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Keep the storefront header visible while scrolling. Default: Yes.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
