<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ahamove>
            <general>
                <enabled>0</enabled>
                <mode>sandbox</mode>
                <payment_type>BALANCE</payment_type>
                <notify_shipment>1</notify_shipment>
                <debug>0</debug>
                <method>api_shipping</method>
                <percentage_difference>10</percentage_difference>
                <quantity_applies_rate_difference>1</quantity_applies_rate_difference>
                <get_cities_by_country>/v1/order/cities?country_id=VN</get_cities_by_country>
                <conventional_number>3000</conventional_number>
                <email_from>general</email_from>
            </general>
            <service_bike>
                <maximum_length>50</maximum_length>
                <maximum_width>40</maximum_width>
                <maximum_height>50</maximum_height>
            </service_bike>
            <service_van>
                <maximum_length>180</maximum_length>
                <maximum_width>120</maximum_width>
                <maximum_height>80</maximum_height>
            </service_van>
            <service_two_hours>
                <maximum_length>50</maximum_length>
                <maximum_width>40</maximum_width>
                <maximum_height>50</maximum_height>
            </service_two_hours>
        </ahamove>
        <carriers>
            <ahamove_standard>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_weight</condition_name>
                <model>Secomm\Ahamove\Model\Carrier\ShippingMethod\Standard</model>
                <name>Standard</name>
                <handling_type>F</handling_type>
                <showmethod>0</showmethod>
                <title>Ahamove</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available right now.</specificerrmsg>
                <showmethod>0</showmethod>
            </ahamove_standard>
            <ahamove_express>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_weight</condition_name>
                <model>Secomm\Ahamove\Model\Carrier\ShippingMethod\Express</model>
                <name>Express</name>
                <handling_type>F</handling_type>
                <showmethod>0</showmethod>
                <title>Ahamove</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available right now.</specificerrmsg>
            </ahamove_express>
        </carriers>
    </default>
</config>
