<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2024. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="refresh_ahamove_token">
        <observer name="refresh_ahamove_token_observer" instance="Secomm\Ahamove\Observer\RefreshToken"/>
    </event>
</config>
