<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Secomm\UiWidget\Api\ComponentRegistryInterface"
                type="Secomm\UiWidget\Model\Component\Registry"/>
    <preference for="Secomm\UiWidget\Api\TemplateResolverInterface"
                type="Secomm\UiWidget\Model\Component\TemplateResolver"/>
    <preference for="Secomm\UiWidget\Api\ParameterCodecInterface"
                type="Secomm\UiWidget\Model\Parameter\Codec"/>
    <preference for="Secomm\UiWidget\Api\SchemaValidatorInterface"
                type="Secomm\UiWidget\Model\Component\SchemaValidator"/>
    <type name="Secomm\UiWidget\Model\Component\Registry">
        <arguments>
            <argument name="definitions" xsi:type="array">
                <item name="banner_a" xsi:type="object">Secomm\UiWidget\Model\Component\BannerADefinition</item>
                <item name="generic_content_a" xsi:type="object">Secomm\UiWidget\Model\Component\GenericContentADefinition</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Widget\Model\Widget">
        <plugin name="secomm_ui_widget_validate_directive_parameters"
                type="Secomm\UiWidget\Plugin\ValidateWidgetParameters"/>
    </type>
    <type name="Magento\Widget\Model\Widget\Instance">
        <plugin name="secomm_ui_widget_validate_instance_parameters"
                type="Secomm\UiWidget\Plugin\ValidateWidgetInstanceParameters"/>
    </type>
</config>
