<?xml version="1.0"?>
<!--
/**
 * @author Secomm Team
 * @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="hyva_config_generate_before">
        <observer name="secomm_uiwidget_register_hyva_source"
                  instance="Secomm\UiWidget\Observer\RegisterModuleForHyvaConfig"/>
    </event>
</config>
