<?xml version="1.0"?>
<!--
    Secomm Launchpad — Quick View module (TASK-Z3DAH5, SLP-157)
    Default: Quick View enabled.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hyva_theme_quickview>
            <general>
                <enabled>1</enabled>
            </general>
        </hyva_theme_quickview>
    </default>
</config>
