<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Menu: Secomm → Pancake POS → Warehouse Mapping -->
                <resource id="Secomm_PancakeBridge::pancake" title="Pancake POS" translate="title" sortOrder="55">
                    <resource id="Secomm_PancakeBridge::warehouse_map" title="Warehouse Mapping" translate="title" sortOrder="10"/>
                    <resource id="Secomm_PancakeBridge::status_map" title="Status Mapping" translate="title" sortOrder="20"/>
                </resource>
                <!-- Stores → Configuration → Secomm Extensions → Pancake POS -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Secomm_PancakeBridge::config" title="Secomm Pancake POS" translate="title" sortOrder="71"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
