<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <secomm_vietnam_address>
            <general>
                <!-- DEC-FEATYA2C0W-003: canonical scheme identity; managed by
                     `secomm:vietnam-address:import` (writes happen only after import success). -->
                <active_scheme>VN_ADMIN_2025</active_scheme>
            </general>
        </secomm_vietnam_address>
    </default>
</config>
