.mst_config_expanded {
    border-bottom: none!important;

    legend.hidden {
        display: none;
    }

    .entry-edit-head {
        > a {
            cursor: default!important;
            padding-left: 0!important;

            &:before {
                display: none;
            }
        }
    }

    fieldset.config {
        display: block!important;
        margin: auto !important;
        padding-bottom: 1.5rem!important;

        > .comment {
            margin-top: -0.5rem !important;
        }
    }
}
