<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2024. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- FEAT-2PZQKJ / TASK-3T3NSV: schema-driven renderer cutover (address/general/renderer = schema) -->
    <type name="Magento\Customer\Block\Address\Edit">
        <plugin name="secomm_addressdropdown_schema_renderer"
                type="Secomm\AddressDropdown\Plugin\Frontend\CustomerAddressEditTemplate"/>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="city-data" xsi:type="string">Secomm\AddressDropdown\CustomerData\CityData</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Directory\Helper\Data">
        <plugin name="get_region_data_plugin"
                type="Secomm\AddressDropdown\Plugin\GetRegionDataPlugin"/>
    </type>
</config>
