<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magefan\FacebookPixelPlus\Api\AddToCartInterface" type="Magefan\FacebookPixelPlus\Model\Pixel\AddToCart" />
    <preference for="Magefan\FacebookPixelPlus\Api\AddToWishlistInterface" type="Magefan\FacebookPixelPlus\Model\Pixel\AddToWishlist" />
    <preference for="Magefan\FacebookPixelPlus\Api\Wishlist\ContentInterface" type="Magefan\FacebookPixelPlus\Model\Pixel\Wishlist\Content" />
    <preference for="Magefan\FacebookPixelPlus\Api\ViewItemListInterface" type="Magefan\FacebookPixelPlus\Model\Pixel\ViewItemList" />

    <preference for="Magefan\FacebookPixelPlus\Api\SessionManagerInterface" type="Magefan\FacebookPixelPlus\Model\SessionManager" />

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="Magefan_FB_Pixel_Plugin_Magento_Checkout_CustomerData_Cart" type="Magefan\FacebookPixelPlus\Plugin\Magento\Checkout\CustomerData\CartPlugin" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Wishlist\CustomerData\Wishlist">
        <plugin name="Magefan_FB_Pixel_Plugin_Magento_Wishlist_CustomerData_Wishlist" type="Magefan\FacebookPixelPlus\Plugin\Magento\Wishlist\CustomerData\WishlistPlugin" sortOrder="10" disabled="false"/>
    </type>
</config>
