.mst_seo_sub_group_config {
    .entry-edit-head > a {
        cursor: default !important;
        padding-left: 0 !important;
        &::before {
            display: none !important;
        }
    }

    fieldset.config.admin__collapsible-block {
        display: block !important;
        margin: auto !important;
    }
}

div.mst_seo_group_config {
    .comment {
        margin-top: -0.5rem !important;
    }

    .use-default {
        padding-left: 1rem !important;
    }
}
