<?xml version="1.0"?>
<!--
/**
 * Secomm MoMo default config
 *
 * @author    Secomm Teams
 * @copyright Copyright (c) 2024 Secomm (https://www.secomm.vn)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <momo_payment>
                <active>0</active>
                <model>MoMoFacade</model>
                <title>MoMo Wallet</title>
                <sandbox>0</sandbox>
                <allowspecific>0</allowspecific>
                <sort_order>100</sort_order>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending_payment</order_status>
                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
            </momo_payment>
        </payment>
    </default>
</config>
