<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Secomm_Ghtk::ghtk"
             title="GHTK"
             module="Secomm_Ghtk"
             translate="title"
             sortOrder="50"
             resource="Secomm_Ghtk::manage_map"
             parent="MenuSecomm_Base::menu"/>
        <add id="Secomm_Ghtk::mapping"
             title="Address Mapping"
             module="Secomm_Ghtk"
             translate="title"
             sortOrder="10"
             resource="Secomm_Ghtk::manage_map"
             parent="Secomm_Ghtk::ghtk"
             action="ghtk/ghtk/index"/>
    </menu>
</config>
