<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Secomm_EInvoiceCore::einvoice" title="EInvoice" sortOrder="90"/>
                <resource id="Magento_Sales::sales">
                    <resource id="Secomm_EInvoiceCore::issue" title="Issue EInvoice" sortOrder="100"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Secomm_EInvoiceCore::config" title="EInvoice Configuration"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
