<?xml version="1.0"?>
<!--
/**
 * @author Secomm Team
 * @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Secomm\Ghtk\Model\OrderSubmit\CodAmountResolverInterface"
                type="Secomm\Ghtk\Model\OrderSubmit\DefaultCodAmountResolver" />

    <!-- TASK-7AJ3K8: tracking reconciliation orchestration is SHARED (ShippingCore); this
         virtual type binds it to the GHTK fetcher + carrier code. Carrier config policy
         (enabled flag, staleness threshold) stays in the thin TrackingRefreshService shell. -->
    <virtualType name="Secomm\Ghtk\Model\Tracking\GhtkTrackingReconciliation"
                 type="Secomm\ShippingCore\Model\Tracking\TrackingReconciliationService">
        <arguments>
            <argument name="fetcher" xsi:type="object">Secomm\Ghtk\Model\Tracking\GhtkTrackingFetcher</argument>
            <argument name="carrierCode" xsi:type="string">ghtk</argument>
            <argument name="batchSize" xsi:type="number">50</argument>
        </arguments>
    </virtualType>
    <type name="Secomm\Ghtk\Model\Tracking\TrackingRefreshService">
        <arguments>
            <argument name="reconciliationService" xsi:type="object">Secomm\Ghtk\Model\Tracking\GhtkTrackingReconciliation</argument>
        </arguments>
    </type>

</config>
