<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Secomm_Ghtk">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Config"/>
            <module name="Magento_Directory"/>
            <module name="Magento_Shipping"/>
            <module name="Secomm_AddressDropdown"/>
            <module name="Secomm_ShippingCore"/>
            <module name="Secomm_VietNamAddress"/>
        </sequence>
    </module>
</config>
