<?xml version="1.0"?>
<!--
  ~ @author Secomm Team
  ~ @copyright Copyright (c) 2026. Secomm All rights reserved (https://www.secomm.vn)
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pancake" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Pancake POS</label>
            <tab>secomm</tab>
            <resource>Secomm_Pancake::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Pancake order export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default: No until shop_id and api_key are set.</comment>
                </field>
            </group>
            <group id="api" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>API</label>
                <field id="base_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Base URL</label>
                </field>
                <field id="shop_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shop ID</label>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Never commit this value. Query param api_key on POS calls.</comment>
                </field>
            </group>
            <group id="webhook" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Webhook</label>
                <field id="secret" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Webhook secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>POST /pancake/webhook/index?secret=... Empty disables the check.</comment>
                </field>
            </group>
            <group id="poll" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Poll</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Poll Magento-origin POS orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
