<div class="mp-simple">
    <div class="mpthankyoupage-title">
        <h1 class="page-title">Thank you for your purchase!</h1>
    </div>
    <div class="mpthankyoupage-details">
        <div class="mp-subtitle">
            <h3>Your order has been placed and will be processed as soon as possible.</h3>
        </div>
        <div class="mp-description">
            <div class="info">
                <p>Your order number: <b>#<a href="{{ store.base_url }}sales/order/view/order_id/{{ order.entity_id }}">{{ order.increment_id }}</a></b></p>
            </div>
        </div>
    </div>
</div>
<div class="mp-block-1">
    {{static_block_1}}
</div>
<div class="order-addresses">
    <div class="mp-order-detail">
        <div class="order-details col-mp">
            <h3 class="mp-block-heading">Order Details</h3>
            <p>Order Number: <b>#{{ order.increment_id }}</b></p>
            <p>Total: <b>{{ total }}</b></p>
            <p>Order create at: <b>{{ created_at_formatted }}</b></p>
        </div>
        <div class="mp-billing-address col-mp">
            <h3 class="mp-block-heading">Billing Address</h3>
            <p>{{formattedBillingAddress}}</p>
        </div>
        {% if order.is_virtual == 0 %}
        <div class="mp-shipping-method col-mp">
            <h3 class="mp-block-heading">Shipping Method</h3>
            <p>{{ order.shipping_description }}</p>
        </div>
        {% endif %}
        <div class="mp-payment-method col-mp">
            <h3 class="mp-block-heading">Payment Method</h3>
            <table class="paymentTable">
                <tbody>
                <tr>
                    <td>{{ payment_html }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mp-simple">
    <div class="additional">
        <div class="sharethis-button">
            <div class="sharethis-inline-share-buttons"></div>
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function() {
                    var script = document.createElement('script');
                    script.src = "https://platform-api.sharethis.com/js/sharethis.js#property={{ sharethis_key }}&product=inline-share-buttons&source=platform";
                    script.async = true;
                    document.body.appendChild(script);
                });
            </script>
        </div>
        {% if coupon.code %}
        <div class="order-coupons">
            <div>Use this coupon code: <strong class="mp-coupon">{{ coupon.code }}</strong> to get <strong
                class="mp-coupon">{{ coupon.discount_amount }}</strong> on your next order.
            </div>
        </div>
        {% endif %}
        <div class="mp-actions-toolbar">
            <div class="primary" style="float: none;">
                <a class="action primary continue" href="{{ store.base_url }}"><span>Continue Shopping</span></a>
            </div>
        </div>
    </div>
</div>

{% unless customer.entity_id %}
<div id="registration" class="col-mp mp-xs-12 mp-5 relative z-10">
    <div>
        <p class="font-bold">Create an Account</p>
        <p>You can track your order status by creating an account.</p>
        <p><span>Email Address</span>: <span>{{email_address}}</span></p>
        <form method="get" action="{{create_account_url}}">
            <input type="submit" class="action primary" value="Create an Account">
        </form>
    </div>
</div>
{% endunless %}

<div class="mp-newsletter mp-xs-12 col-mp mp-5 relative z-10">
    <p class="font-bold">Sign Up for Our Newsletter</p>
    <p>For every updated news, events, promotion or loyalty programs</p>
    <div class="content">
        <form class="form subscribe"
              novalidate
              action="{{form_action_url}}"
              method="post"
              x-data="{...initSubscribeForm(), ...hyva.formValidation($el)}"
              @submit="formSubmit"
              id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter"></label><input name="email" type="email" id="newsletter"
                                                           value="{{email_address}}"
                                                           class="form-input w-full"
                                                           @change="onChange"
                                                           data-validate="{required:true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="Subscribe" type="submit">
                    <span>Subscribe</span>
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    function initSubscribeForm () {
        return {
            formSubmit: function (e) {
                e.preventDefault();
                const formAction = e.target.getAttribute('action');
                const formData = new FormData(e.target);
                formData.append('form_key', hyva.getFormKey());

                this.validate().then(() => {
                    fetch(formAction, {
                        method: 'POST',
                        body: formData
                    }).then(response => {
                        if (response.ok && response.redirected) {
                            window.location.href = response.url;
                        }
                    })

                })
            }
        }
    }
</script>
<div class="col-mp mp-block-2">
    {{static_block_2}}
</div>

