<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mageplaza\ExtraFee\Controller\Product\ExtraFee">
        <plugin name="launchpad_mageplaza_extrafee_fix_super_attribute_normalizer"
                type="Launchpad\MageplazaExtraFeeFix\Plugin\Controller\Product\ExtraFeePlugin"/>
    </type>
</config>
